{{#partial "content"}}
<div class="schedule">
    <h1>Event Schedule</h1>
    {{#if events}}
    {{#each events}}
    <p><span class="eventTitle">ADDED EVENT: {{ name }}</span>   {{ description }} <a href="/events/{{id}}">Read more...</a></p>

    {{/each}}
    {{else}}
    <p>No scheduled event, Click <a href="/events/new" id="right">ADD EVENT</a> to add.</p>
</div>
{{/if}}
{{/partial}}

{{> layout.hbs}}