{{#partial "content"}}

<h1>Speaker</h1>
<p>{{ speaker.id.firstName }} {{ lastName }}</p>
<h3>Background</h3>
<p>{{ background }}</p>

<p> <a href="/speakers/update">Edit this speaker</a><br>
    <a href="/speakers/delete">DELETE this speaker (no undo)</a>
</p>

{{/partial}}

{{> layout.hbs}}