{{#partial "content"}}


<div class="centertext">
    <h1>Success!</h1>
    <p>Your Speaker has been added</p>
    <span class="event"><a href="/">Go Back</a></span>
</div>
{{/partial}}

{{> layout.hbs}}